@charset "utf-8";
  
/* Calendario en Ficha de Avisos */  
#calendario-frontend .DOPBCPCalendar-navigation .dopbcp-add-btn, #calendario-frontend .DOPBCPCalendar-navigation .dopbcp-next-btn, #calendario-frontend .DOPBCPCalendar-navigation .dopbcp-previous-btn, #calendario-frontend .DOPBCPCalendar-navigation .dopbcp-remove-btn {height: 26px; width: 26px; background-size: inherit;}
#calendario-frontend .DOPBCPCalendar-navigation .dopbcp-add-btn {background-position: -47px -7px;}
#calendario-frontend .DOPBCPCalendar-navigation .dopbcp-next-btn {background-position: -127px -87px;}
#calendario-frontend .DOPBCPCalendar-navigation .dopbcp-previous-btn {background-position: -87px -87px; right: 37px;}
#calendario-frontend .DOPBCPCalendar-navigation .dopbcp-remove-btn {background-position: -47px -87px;}

#calendario-frontend .DOPBCPCalendar-sidebar .dopbcp-module .dopbcp-input-wrapper input[type=text].DOPBCPCalendar-check-in-view {background-size: inherit; background-position: -4px -205px}
#calendario-frontend .DOPBCPCalendar-sidebar .dopbcp-module .dopbcp-input-wrapper input[type=text].DOPBCPCalendar-check-out-view {background-size: inherit; background-position: -4px -205px}

#calendario-frontend .DOPBCPCalendar-info-message.dopbcp-error .dopbcp-icon, #calendario-frontend .DOPBCPCalendar-info-message.dopbcp-error .dopbcp-close, #calendario-frontend .DOPBCPCalendar-info-message.dopbcp-success .dopbcp-icon, #calendario-frontend .DOPBCPCalendar-info-message.dopbcp-success .dopbcp-close {background-image: url('img/sprite2.png'); background-size: 333px 88px;}

#calendario-frontend .DOPBCPCalendar-info-message.dopbcp-error .dopbcp-icon {background-position: -85px -132px;}
#calendario-frontend .DOPBCPCalendar-info-message.dopbcp-error .dopbcp-close {background-position: -125px -133px;}
#calendario-frontend .DOPBCPCalendar-info-message.dopbcp-success .dopbcp-icon {background-position: -42px -132px;}
#calendario-frontend .DOPBCPCalendar-info-message.dopbcp-success .dopbcp-close {background-position: -125px -133px;}
  
/* Calendario en Listado Admin */
.listadoAdminCalendar {width: 225px;}
/* .CT .BoxResultado .ItemGeneral .listadoAdminCalendar div {float: none;} */
.listadoAdminCalendar .DOPBCPCalendar-navigation .dopbcp-month-year.dopbcp-style-small {padding: initial; text-align: center; font-size: 15px; line-height: 35px;}

.listadoAdminCalendar .DOPBCPCalendar-navigation .dopbcp-week {padding: 0px;}
.CT .BoxResultado .ItemGeneral .listadoAdminCalendar .DOPBCPCalendar-navigation .dopbcp-week .dopbcp-day {float: left;}

.listadoAdminCalendar .DOPBCPCalendar-navigation .dopbcp-add-btn, .listadoAdminCalendar .DOPBCPCalendar-navigation .dopbcp-next-btn, .listadoAdminCalendar .DOPBCPCalendar-navigation .dopbcp-previous-btn, .listadoAdminCalendar .DOPBCPCalendar-navigation .dopbcp-remove-btn {height: 26px; width: 26px; background-size: inherit;}
.listadoAdminCalendar .DOPBCPCalendar-navigation .dopbcp-add-btn {background-position: -47px -7px;}
.listadoAdminCalendar .DOPBCPCalendar-navigation .dopbcp-next-btn {background-position: -127px -87px;}
.listadoAdminCalendar .DOPBCPCalendar-navigation .dopbcp-previous-btn {background-position: -87px -87px; right: 37px;}
.listadoAdminCalendar .DOPBCPCalendar-navigation .dopbcp-remove-btn {background-position: -47px -87px;}

.CT .BoxResultado .ItemGeneral .listadoAdminCalendar .DOPBCPCalendar-day {float: left;}
.CT .BoxResultado .ItemGeneral .listadoAdminCalendar .dopbcp-bind-left {float: left;}
.CT .BoxResultado .ItemGeneral .listadoAdminCalendar .dopbcp-bind-middle {float: left;}
.CT .BoxResultado .ItemGeneral .listadoAdminCalendar .dopbcp-bind-right {float: right;}

.listadoAdminCalendar .DOPBCPCalendar-day.dopbcp-style-small .dopbcp-bind-middle .dopbcp-head {height: 18px !important;}

.listadoAdminCalendar .DOPBCPCalendar-sidebar {display: none;}

.listadoAdminCalendar .DOPBCPCalendar-calendar {height: 160px;}
.listadoAdminCalendar #DOPBCPCalendar-month-0-2 {position: relative; top: -191px; left: 235px;}
.listadoAdminCalendar #DOPBCPCalendar-month-0-3 {position: relative; top: -404px; left: 471px;}
.listadoAdminCalendar .DOPBCPCalendar-month-year {position: relative; height: 56px; border: none; padding: 0px; overflow: inherit; margin: auto;}