#boton_menu_admin {
  position: relative;
  top: -2em;
  float: right;
  margin-right: 10px;
  margin-bottom: -1.6em;
}
#boton_menu_admin .boton {
  padding: 2px 6px;
}
.admin article.aviso, .acciones-masivas {
  /*clear: both;*/
  width: 97%;
  border-bottom: 1px solid #666666;
  padding: 2px;
  padding: 2px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  margin: 3px;
}
.admin .thumb {
  float: left;
  width: 35%;
  max-width: 100px;
}
.admin .thumb img {
  overflow: hidden;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  background-clip: padding-box;
}
.admin .ficha {
  float: left;
  width: 65%;
}
.aviso .titulo {
  float: left;
  font-weight: bold;
  /*color: #333333;*/
  width: 90%;
  margin: 5px;
}
.aviso .aviso-check {float: left;}
.aviso .datos {
  width: auto;
  font-size: 0.9em;
  margin-bottom: 2px;
  width: 65%;
  float: right;
}
.aviso .botones {
  float: right;
  margin-bottom: 0px;
}
.aviso .botones.btn-alojamientos {margin-top: -28px;}
.aviso .botones a {
  padding: 9px 15px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  margin: 0px;
}
.botones .boton {
  margin-right: 0.5em;
}
.acciones-masivas .boton {
  font-size: 0.9em;
  margin: 4px;
}
.acciones-masivas .boton.no-active {
  background: #bbb;
  color: #ddd;
}
#formConfirmAccionesMasivas .confirmacion-title {
  color: #fff;
  text-align: center;
  margin: 5px;
}
#formConfirmAccionesMasivas .confirmacion-content li {
  color: #ddd;
  font-size: 0.7em;
  width: 96%;
}  
#formConfirmAccionesMasivas .boton {
  width: 40%;
  float: left;
  margin: 5px;
}
#mas_info {
  float: left;
  position: fixed;
  top: 1%;
  left: 1%;
  background: rgb(255, 255, 255);
  border: 1px solid #CCCCCC;
  padding: 2%;
  box-shadow: 3px 3px 5px 6px #ccc;
  width: 94%;
  height: 94%;
  display: none;
}
.datos div {
  margin: 0 1%;
  margin-bottom: 5px;
  padding-right: 2px;
}
.datos div.red .fa,
.datos div.red .text-datos {color: #E00019}
.aviso .precio,
.datos div span.precio {
  float: right;
  font-weight: bold;
  color: #A92319;
  text-align: right;
  font-size: 15px;
}
.admin .aviso .bloques {
  clear: both;
  margin-top: 2px;
}
.admin .bloque {
  padding: 0.5em 0;
}
.admin .aviso .bloque {
  float: left;
  width: 21%;
  padding: 2px 0;
  margin: 0 1%;
  font-size: 0.8em;
  background: rgb(200, 200, 200);
  background: rgba(200, 200, 200, .3);
  text-align: center;
  display: none;
}
#content-filtros {
  display: none;
  margin-bottom: 0.2em;
}
#content-filtros .main-sub {
  margin-bottom: 0.4em;
}
#content-filtros .centrar {
  margin-bottom: 0.4em;
}
body .admin {
  line-height: 1;
}
.small{
  font-size: 0.7em;
}
.admin h2 {
  font: bold 1em Arial, Helvetica, sans-serif;
  color: #333333;
  line-height: 18px;
}
.admin h3 {
  font-size: 1.5em;
  font-weight: bold;
  color: #E00019;
  text-align: right;
}
.admin .text-datos {
  color: #bbb;
  font-size: 13px;
  margin-left: 5px;
}
.admin .datos div span.segundo {
  float: right;
  margin-right: 60%;
}
.container h2 {
  padding: 0.5em;
  font-family: 'OpenSansRegular', Arial, sans-serif;
  font-size: 22px;
}
.titulo {
  font-weight: bold;
  color: #2E3641;
}
.admin .subtitulo {
  color: #333333;
  font-size: 0.9em;
  margin: 0.4em;
}
.admin h2 {
  background-color: #ccc;
}
.admin ul {
  border-top: 0px solid #999;
  background: #DDDDDD;
}
.admin li {
  padding: 0.5em;
  border-bottom: 1px solid #999;
}
.admin li label {
  margin-right: 0.5em;
}
.admin li select {
  font-size: 0.9em;
}
.admin li.seleccionado {
  background-color: #fff8a5;
}
.admin li.comprado {
  background-color: #d7e6fd;
}
.admin span.aplicado, .admin span.espera {
  background-color: #fff8a5;
  display: block;
  float: left;
  height: 1.2em;
  width: 1em;
  margin: 2px;
}
.admin span.espera {
  background-color: #d7e6fd;
}
.admin .desc {
  font-size: 0.8em;
  color: #777777;
}
.admin .total {
  font-size: 1.2em;
  color: #323943;
  padding: 0.8em;
}
.admin #div_web_papel {
  text-align: center;
}
.admin #div_web_papel h2 {
  text-align: left;
}
.admin #div_web_papel textarea {
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 0.6em;
  margin-bottom: 0.6em;
}
.preview {
  margin: 0.4em;
}
.simulacion-papel strong {
  font-weight: bold;
  font-size: 0.8em;
}
.fechas {
  font-size: 0.8em;
  padding: 0.4em;
}
.tabla_dias {
  border-collapse: collapse;
  font-size: 0.8em;
  margin: 0 auto;
}
.tabla_dias th, .tabla_dias td {
  text-align: center;
  padding: 0.4em;
  border: 1px solid #cccccc;
}
.mensaje {
  padding: 0.5em;
}
.mensaje .error {
  color: #990000;
}
form .campo.error {
  border: 1px solid #990000;
}
form .campo.error textarea {
  border: 1px solid #990000;
}
.importante {
  color: #990000;
}
.publicacion .desc {
  line-height: 1.6em;
}
input[type='button']  {
  background: #008ACF;
  color: #fff;
  border: 0 none;
  font-size: 1em;
  font-weight: bold;
  padding: 0.5em;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  border-radius: 0.4em;
}
input[type='submit']  {
  background: #363B45;
  color: #fff;
  border: 0 none;
  font-size: 1em;
  font-weight: bold;
  padding: 1em 0.5em;
  width: 94%;
  text-align: center;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  border-radius: 0.4em;
  cursor: pointer;
  margin-left: 3%;
  margin-top: 10px;
}
.despublicacion input[type='submit']  {
  width: auto;
  padding: 0.5em;
}
input[type='button']:disabled, input[type='submit']:disabled {
  background: #CCCCCC;
  color: #EEEEEE; 
}
input[type='submit'].enviando, input[type='button'].enviando {
  background: #CCCCCC;
  color: #EEEEEE; 
}
.estado_cuenta .espacios {
  background-color: #efefef;
  float: left;
  margin: 1%;
  padding: 1%;
  width: 21%;
  overflow: hidden;
}
.estado_cuenta .header-left, .estado_cuenta .header {
  font-size: 0.8em;
}
.estado_cuenta .detalle {
  background-color: #dddddd;
  color: #333333;
}
.estado_cuenta .detalle h4{
  font-size: 1em;
  font-weight: bold;
}
.bloque-right {
  display: none;
}
.estado_cuenta .compra {
  background-color: #efefef;
  float: left;
  margin: 1%;
  padding: 1%;
  width: 21%;
  overflow: hidden;
  font-size: 0.8em;
}
.par {
  background-color: #EEEEEE;
}
.impar {
  background-color: #DDDDDD;
}
.datos_consulta div {
  padding: 2px;
}
.texto_consulta {
  padding: 2px;
}
.estado_cuenta .compra-fecha {
  width: 23%;
}
.estado_cuenta .compra-detalle {
  width: 50%;
}
.estado_cuenta .compra-total {
  width: 15%;
}
.Espacio-8 {
  background-color: #fff8a5;
}
.Espacio-1009, .Espacio-308834 {
  background-color: #d7e6fd;
}
.Espacio-7, .Espacio-346709, .Espacio-346710 {
  background-color: #eeeeee;
}
.Espacio-6 {
  background-color: #fff;
}
.destacado_color {
  border-color: #ffcd8e;
  border-style: solid;
  border-width: medium;
}
.aviso_rechazado {
  background-color: #edd8d5;
}
.aviso_moderado {
  background-color: #d9e28e;
}
.paginacion {
  text-align: center;
}
.paginacion ul {
  display: inline-table;
  background: none;
}
.paginacion li {
  display: inline;
  /* background-color: #DDDDDD; */
  margin: 0.2em;
  padding: 0.4em 0.2em;
  min-width: 1.8em;
  float: left;
  text-align: center;
  border: none;
  color: #323943;
  font-size: 15px;
}
.paginacion li.pager-next,
.paginacion li.pager-last,
.paginacion li.pager-previous,
.paginacion li.pager-first {
  font-size: 24px;
  margin: 0px;
  padding: 0px;
  margin-top: 3px;
}
.msg-importante {
  background: #FFFFCC;
  padding: 10px;
  color: #666;
  font-size: 13px;
  font-weight: bold;
}

/* ALOJAMIENTOS */
.dsCountDown {
  float: right;
  margin-top: -19px;
  font-size: 14px;
  color: #f29107;
}
.dsCountDown .ds-element {
  float: left;
  margin-right: 2px;
}
.admin .fa,
.admin .fab {
  color: #bbb;
  font-size: 14px;
}
.admin .fa-clock-o {
  float: right;
  margin-top: -19px;
  margin-right: 60px;
  color: #f29107;
}
.admin .red .fa-calendar {color: #A92319;}
.admin .ContactosDelAviso {
  padding: 5px;
  margin: 3px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  margin-top: -4px;
}
.admin .listadoAdminCalendar .DOPBCPCalendar-navigation .dopbcp-previous-btn {
  left: 7px;
}

/* RESERVAS */
ul.menu-estados-reserva { 
  margin: 0 3px;
}
.menu-estados-reserva li {
  float: left;
  font-size: 14px;
  font-weight: 400;
  color: #999;
  padding:2px 15px;
}
.menu-estados-reserva li.selected {border-bottom: 4px solid #323943; color:#323943;}
.menu-estados-reserva li:active {border-bottom: 4px solid #323943; color:#323943;}
.admin .text-datos.reserva {color: #666;}
.admin .fa.fa-usd.reserva {margin: 0 3px;}
.admin .fa.fa-circle.reserva {margin-left: 15px;}
.admin .fa.fa-circle.pendiente,
.admin .text-datos.pendiente,
.detalle-reserva .pendiente {color: #f29107;}
.admin .fa.fa-circle.aceptada,
.admin .text-datos.aceptada,
.detalle-reserva .aceptada {color: #648114;}
.admin .fa.fa-circle.rechazada,
.admin .text-datos.rechazada,
.detalle-reserva .rechazada {color: #e00018;}
.admin .fa.fa-circle.cancelada,
.admin .fa.fa-circle.caducada,
.admin .text-datos.cancelada,
.admin .text-datos.caducada,
.detalle-reserva .cancelada,
.detalle-reserva .caducada {color: #666;}
.aviso .botones.reserva a {
  max-width: 70px;
  margin-top: -17px;
}

.detalle-reserva .texto-top {
  font-size: 13px;
  height: 24px;
}
.detalle-reserva .cuerpo h2 {
  padding: 0px;
  margin: 0px;
  font-weight: inherit;
  font-size: 17px;
}
.detalle-reserva .texto-top h3 {
  float: left;
  color: #666;
}
.detalle-reserva .texto-top span {
  float: right;
  font-weight: 600;
}
.detalle-reserva .countdown {
  margin-top: -15px;
  font-size: 13px;
}
.detalle-reserva .texto .fa.fa-clock-o {
  float: right;
  margin-top: -11px;
  margin-right: 6px;
  color: #f29107;
  font-size: 13px;
}
.detalle-reserva .texto {
  margin: 5px 0;
  color: #bbb;
  font-size: 16px;
  height: 18px;
}
.detalle-reserva .texto span {
  width: 50%;
  float: left;
  line-height: 100%;
}
.detalle-reserva .texto.oscuro {color: #666;}
.detalle-reserva .texto .fa {
  font-size: 17px;
  margin-right: 6px;
  float: left;
  margin-top: -2px;
}
.aviso.detalle-reserva .imagen {position: static;}
.detalle-reserva .texto span.ancho-total {width: 90%;}
.detalle-reserva .texto span.margen {margin: 5px 0;}
.detalle-reserva .texto span.datos-user {
  margin-bottom: 4px; 
  margin-left: 10px;
  color: #008ACF;
}
.detalle-reserva .texto span.margen-bottom {margin-bottom: 20px;}
.detalle-reserva .texto span.datos-user .fa {font-size: 13px; margin-top: 2px;}
.detalle-reserva .texto.datos-precio {font-size: 14px; margin-left: 5px;}
.detalle-reserva .texto.datos-precio span {margin-top: 5px;}
.detalle-reserva .texto.total {font-size: 20px; margin-left: 5px; color: #008ACF;}
.detalle-reserva .texto.total span {margin-top: 5px;}

.detalle-reserva .ui-tabs-nav li {
  float: left;
  margin-left: 38px;
  margin-right: 10px;
  border: 0;
  border-radius: 3px;
  color: #FFF;
  padding: 5px 15px;
}
.detalle-reserva .ui-tabs-nav li a {
  font-size: 13px;
  font-weight: bold;
}
.detalle-reserva .ui-tabs-nav li.tab-confirm {background: #0089cf}
.detalle-reserva .ui-tabs-nav li.tab-reject {background: #e00018}
.detalle-reserva .ui-tabs-nav li.ui-tabs-active {
  margin-bottom: 0;
  padding-bottom: 9px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.detalle-reserva .formReservaAceptada,
.detalle-reserva .formReservaRechazada {
  margin-top: 107px;
  border-radius: 5px;
  padding: 10px;
  display: none;
}
.detalle-reserva .formReservaAceptada {
  border: 1px solid #0089cf;
  background: rgba(0, 137, 207, .03);
}
.detalle-reserva .formReservaRechazada {
  border: 1px solid #e00018;
  background: rgba(224, 0, 24, .03);
}
.detalle-reserva input[type='submit'] {
  border: 0;
  border-radius: 3px;
  color: #FFF;
  padding: 8px 15px;
  margin: 0px;
  width: inherit;
  font-size: 13px;
}
.detalle-reserva #submit-rechazo {background: #e00018}
.detalle-reserva .formReservaRechazada label {
  font-size: 13px;
  font-weight: bold;
  color: #666;
}
.detalle-reserva .formReservaRechazada select,
.detalle-reserva .formReservaRechazada textarea {
  padding: 10px 15px;
  font-size: 13px;
  color: #666;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}
.detalle-reserva .formReservaRechazada textarea {
  width: 86%;
  margin-bottom: 10px;
  height: 163px;
}
.admin .cuerpo {
  margin: 0.5em;
  width: auto;
}
.admin .search-precio-uva {
  font-weight: 800;
  color: #9438E3;
  position: absolute;
  right: 4px;
  margin-top: 4px;
}

.menuEstados .menu-estados-reserva li {
  margin-top: 10px;
  border-bottom: none;
}
.menuEstados .menu-estados-reserva li.selected {
  border-bottom: 4px solid #323943;
}
.menuEstados .menu-estados-reserva li a {
  color: #999;
}
.menuEstados .menu-estados-reserva li.selected a {
  color: #323943;
}