@charset "utf-8";
/* CSS Document */
header .logo a { width: 169px;height: 36px;text-indent: -9999px;background-image: url("../img/losandes_marca_blanca.svg");background-repeat: no-repeat;background-position: left top;margin-left: 11px;float: left;background-size: 155px 36px;}
header { background: #444242;}
.barra-buscador{background:#008ACF; padding:10px; display:block; clear:both; margin-bottom:10px;}
.barra-buscador .fondo,
.barra-buscador .fondo-inmo {position:relative; border:1px solid #00557D; -webkit-border-radius: 0.5em;-moz-border-radius: 0.5em;border-radius: 0.5em; padding:6px 10px 14px 11px; background:#fff; /*margin-top:10px;*/ border: 0.1em solid #CCCCCC; box-shadow: 0 0 0.1em 0 rgba(255, 255, 255, 0.9), 0 0.2em 0.3em #E7E6E7 inset; width: 24px; height: 18px;}

.barra-buscador .fondo-inmo {width: 92%}

.barra-buscador .icono-buscar{ background-image:url(../img/btn-buscar.png); background-repeat:no-repeat; background-position:0 0; width:27px; height:27px; position:absolute; right:10px; top:7px;}
.barra-buscador .search{border:0 none;  background:#fff; width:80%; font-size: 14px; color:#666; font-weight:bold; display:block; height: 23px;} 
.barra-buscador .buscador-hidde {display: none;}
.barra-buscador .buscador-hidde .search-close {float: left; background: url("../img/cerrar.png") no-repeat left; width: 25px; height: 24px;}