/* globales */
	body,
	p,
	h1,
	h2,
	h3,
	h4 h5 {
		font-family: 'OpenSansRegular', Arial, sans-serif;
		color: #545454;
	}
	p {
		font-size: 14px;
		line-height: 150%;
	}
	p.sizemed {
		font-size: 13px;
	}
	p.sizesmall {
		font-size: 12px;
	}
	h1 {
		font-size: 26px;
		color: #333;
	}
	h2 {
		font-size: 22px;
		color: #333;
	}
	h3 {
		font-size: 20px;
	}
	h4 {
		font-size: 16px;
	}
	h5 {
		font-size: 15px;
		color: #333;
	}
	a {
		text-decoration: none;
		color: #0089cf;
	}
	ul li {
		display: inline-block;
	}
	/* img {
		width: 100%;
		max-width: 100%;
		height: auto;
	} */
	strong,
	.bold {
		font-family: 'OpenSansBold', Arial, sans-serif;
	}
	.col-full {
		width: 100%;
		max-width: 767px;
		margin: auto;
	}
	.fl-left {
		float: left;
	}
	.fl-right {
		float: right;
	}
	.pos-rel {
		position: relative;
	}
	.pos-ab {
		position: absolute;
	}
	.col-2 {
		width: calc(100% /2);
	}
	.mt-10 {
		margin-top: 10px;
	}
	.mt-15 {
		margin-top: 15px;
	}
	.mt-20 {
		margin-top: 20px;
	}
	.mt-25 {
		margin-top: 25px;
	}
	.mt-30 {
		margin-top: 30px;
	}
	.mt-40 {
		margin-top: 40px;
	}
	.display-block {
		display: block;
	}
	.display-in-block {
		display: inline-block;
	}
	.clear-both {
		clear: both;
	}
	.align-right {
		text-align: right;
	}
	.align-left {
		text-align: left;
	}
	.align-center {
		text-align: center;
	}
	.fa,
	.lv {
		margin-right: 3px; 
		color: #0089cf;
	}
	.fa.fa-calendar,
	.lv.fa-calendar {
		font-size: 18px;
		color: #666;
	}
	i.lv {
		font-family: 'lavoz-new-icons';
		font-weight: normal;
		font-style: normal;
		font-variant: normal;
		line-height: 1;
		text-transform: none;
		color: #0089cf;

		speak: none;
		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	.lv-rooms::before {
		content: '\e900';
	}
	.lv-bath::before {
		content: '\e901';
	}
	.btn {
		padding: 13px;
		text-align: center; 
		text-transform: uppercase;
		border-radius: 5px;
		background-clip: padding-box;
	}
	.btn .fa {
		margin: 0 5px 0 0; 
		color: #fff;
	}
	.btn-destacado {
		font-family: 'OpenSansBold', Arial, sans-serif;
		letter-spacing: .03em; 
		color: #fff;
		background-color: #e00018;
	}
	.btn-primary {
		font-family: 'OpenSansBold', Arial, sans-serif; 
		color: #fff;
		background-color: #363B45;
	}
	.btn-secondary {
		padding: 12px 17px;
		display: inline-block;
		font-family: 'OpenSansBold', Arial, sans-serif;
		font-size: 14px;
		color: #333;
		border: 1px solid #e6e6e6;
		background-color: #eef2f3;
	}
	input,
	textarea,
	select,
	button,
	label {
		box-sizing: border-box;
		padding: 0;
		font-family: 'OpenSansRegular', Arial, sans-serif;
		border: 0;
	}
	input,
	textarea,
	select {
		margin: 9px 0;
		padding: 10px 15px;
		font-size: 15px;
		color: #666; 
		border: 1px solid #e6e6e6;
		border-radius: 5px;
		background-clip: padding-box;
	}
  .barra-buscador {
    margin-bottom: 0px;
  }
  .barra-buscador input.search {
    margin: 0px;
    padding: 0px;
  }
	input[type='checkbox'],
  input[type='radio']  {
		width: 19px;
		height: 19px; 
		margin: 0;
	}
	input[type='submit'] {
		cursor: pointer;
		border: 0;
	}
	textarea {
		resize: none;
	}
	label {
		font-family: 'OpenSansBold', Arial, sans-serif;
		font-size: 14px;
		color: #333;
	}
	select {
		width: 100%;
		height: 42px;
		padding-left: 50px;
		background: #fff;
	}
	.select-group {
		position: relative;
	}
	.select-group select {
		background-image: url('../img/arrow-select.png');
		background-repeat: no-repeat;
		background-position: 92% center; 
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
	.select-group .fa, .select-group .far, .select-group .fas {
		position: absolute;
		top: 18px;
		left: 15px;
		font-size: 22px; 
		color: #999;
	}
  .select-group.multiple .fa {
		top: 0;
		left: 0;
	}
  .select-group.multiple.filtro-aplicado .fa {
    color: #999;
  }
  div.dhxcombo_dhx_web{
    height: 42px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin: 5px 0;
  }
  div.dhxcombo_dhx_web input.dhxcombo_input {
    margin-left: 50px;
    color: #666;
    font-family: 'OpenSansLight', Arial, sans-serif;
    font-size: 14px;
    height: 42px;
    padding-left: 35px;
  }
  div.dhxcombo_dhx_web div.dhxcombo_select_button {
    background-image: url('../img/arrow-select.png');
    background-repeat: no-repeat;
    background-position: 92% center;
    -webkit-appearance: none;
    top: 14px;
    right: 13px;
    background-color: #FFF;
    width: 8px;
    padding-left: 17px;
    display: none;
  }
  #edit-buscador-llegada-datepicker-popup-0,
  #edit-buscador-salida-datepicker-popup-0  {
    font-size: 12px;
    padding-top: 13px;
    padding-bottom: 11px;
  }
  #edit-buscador-huespedes {
    font-size: 14px;
  }
  
  
	.header-cont {
		height: 65px;
		padding: 14px 10px; 
		background: linear-gradient(to bottom, #fff 0%, #e2e2e2 100%);
	}
	.login {
		padding: 8px 9px; 
		font-size: 12px;
		font-weight: bold;
		text-transform: none;
	}
	.main-wrapper {
		padding: 0 10px;
    margin: 15px 0px;
    width: 93%;
	}
	.main-wrapper:before,
	.main-wrapper:after {
		display: table; 
		content: '';
	}
	.main-wrapper:after {
		clear: both;
	}
	.secondary-wrapper {
		padding: 0 15px;
    margin-bottom: 15px;
	}
	.secondary-wrapper:before,
	.secondary-wrapper:after {
		display: table; 
		content: '';
	}
	.secondary-wrapper:after {
		clear: both;
	}
	.btn-full {
		display: block;
	}
	.search-main .search-item .sc-content {
		padding: 20px 20px 23px;
	}
	.search-main .search-item .sc-content h4 {
		max-width: 85%;
		height: 22px;
		overflow: hidden;
		white-space: nowrap; 
		text-overflow: ellipsis;
	}
	.search-main .search-item .sc-features {
		margin: 10px 0;
	}
	.search-main .search-item .sc-features i {
		color: #ccc;
	}
	.search-main .search-item .sc-features ul li {
		margin-right: 14px; 
		font-size: 14px;
		color: #999;
	}
	.search-main .search-item .sc-features p {
		color: #666;
	}
	.search-main .search-item .sc-img {
		position: relative;
	}
	.search-main .search-item .sc-price {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 10px 14px; 
		text-align: center;
		background: rgba(255, 255, 255, .9);
	}
	.search-main .search-item .sc-price h3,
	.search-main .search-item .sc-price p {
		color: #000;
	}
	.search-main .search-item .sc-price h3 {
		font-family: 'OpenSansBold', Arial, sans-serif;
	}
	.search-main .search-item .fa-map-marker {
		font-size: 20px;
		color: #545454;
	}
	.search-in {
		margin: 15px 0;
	}
	.calendar-box input {
		width: 48%;
		padding-left: 35px;
	}
	.calendar-box button.ui-datepicker-trigger {
		position: absolute;
		top: 3px;
		left: 10px;
		background: transparent;
	}
	.calendar-box span:first-child {
		padding-right: 5px;
	}
	.calendar-box .fa-calendar {
		color: #999;
	}
	.filter-mob .filter-category {
		margin-bottom: 20px;
	}
  .filter-mob .filter-category.multiple {
		margin-top: 15px;
    margin-left: 15px;
	}
	.filter-mob .filter-category:before,
	.filter-mob .filter-category:after {
		display: table; 
		content: '';
	}
	.filter-mob .filter-category:after {
		clear: both;
	}
	.filter-mob .filter-category h5 {
		margin-bottom: 15px; 
		font-family: 'OpenSansBold', Arial, sans-serif;
		text-transform: uppercase;
	}
  
  .filter-mob .filter-category.multiple h5 {
    margin-left: 35px;
  }
  
  
	.filter-mob .filter-category p {
		line-height: 100%; 
		color: #666;
	}
  .filter-mob .filter-category p.moneda-uva {
    color: #6F2DA8;
    font-weight: 800;
  }
	.filter-mob .filter-category input[type='checkbox'],
  .filter-mob .filter-category input[type='radio']  {
		margin-right: 7px; 
		margin-bottom: 7px;
	}
	.filter-buttons {
		margin-bottom: 20px; 
		padding: 0 10px;
	}
	.filter-buttons:before,
	.filter-buttons:after {
		display: table; 
		content: '';
	}
	.filter-buttons:after {
		clear: both;
	}
	.filter-buttons .btn-secondary {
		padding: 13px;
		font-size: 16px; 
		border: 0;
	}
	.filter-buttons .btn {
		width: 40%;
	}
	.ficha-mob h3 {
		margin-bottom: 15px;
	}
	.ficha-mob .btn-destacado {
		padding: 6px 12px; 
		font-family: 'OpenSansSemibold', Arial, sans-serif;
		font-size: 14px;
	}
	.ficha-mob .btn-destacado .fa {
		font-size: 23px;
		vertical-align: sub;
	}
	.ficha-mob .f-top .f-price {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 10px 14px;
		text-align: center;
		color: #000;
		background: rgba(255, 255, 255, .9);
	}
	.ficha-mob .f-top .f-price h3 {
		font-family: 'OpenSansBold', Arial, sans-serif;
	}
	.ficha-mob .f-top .f-slider {
		position: relative;
		margin-bottom: 15px;
	}
	.ficha-mob .f-top .f-slider a {
		position: absolute;
		top: 50%;
		right: 0;
		left: 0;
		transform: translateY(-50%);
	}
	.ficha-mob .f-top .f-slider a i {
		font-size: 50px; 
		color: #fff;
	}
	.ficha-mob .f-top .f-slider a.slide-prev {
		right: auto;
		left: 13px;
	}
	.ficha-mob .f-top .f-slider a.slide-next {
		right: 13px; 
		left: auto;
	}
	.ficha-mob .f-features {
		/*height: 85px;*/
		margin: 15px 0; 
		border: 1px solid #e1e1e1;
	}
	.ficha-mob .f-features:before,
	.ficha-mob .f-features:after {
		display: table; 
		content: '';
	}
	.ficha-mob .f-features:after {
		clear: both;
	}
	.ficha-mob .f-features .box {
		width: 49%;
		height: 100%;
		padding: 14px 0; 
		text-align: center;
		/*border-right: 1px solid #e1e1e1;*/
	}
  .ficha-mob .f-features .box.border-right {
		border-right: 1px solid #e1e1e1;
	}
  .ficha-mob .f-features .box.border-top {
		border-top: 1px solid #e1e1e1;
	}
  .ficha-mob .f-features .box.tooltips-camas {
    position: absolute;
    margin-top: 153px;
    margin-left: 50%;
    border: 1px solid rgb(225, 225, 225);
    width: 151px;
    height: initial;
    z-index: 1;
    background-color: rgb(255, 255, 255);
  }
	/*.ficha-mob .f-features .box:last-child {
		border: 0 none;
	}*/
	.ficha-mob .f-features .box .fa,
	.ficha-mob .f-features .box .lv {
		font-size: 30px;
	}
	.ficha-mob .f-features .box p {
		font-size: 13px;
		line-height: 100%;
	}
	.ficha-mob .value p {
		margin-right: 10px; 
		font-size: 15px;
		line-height: 100%;
	}
	.ficha-mob select,
	.ficha-mob input {
		color: #0089cf;
	}
	.extras {
		margin-top: 20px;
	}
	.extras .lines {
		margin: 7px 0;
		padding-bottom: 7px;
		font-size: 14px;
		border-bottom: 1px solid #e6e6e6;
		border-bottom: 0 none;
	}
	.extras .lines:before,
	.extras .lines:after {
		display: table; 
		content: '';
	}
	.extras .lines:after {
		clear: both;
	}
	.extras .lines .item {
		margin: 0 8px 0 10px;
	}
	.extras .lines .price {
		width: 45px;
		word-wrap: break-word;
	}
	.extras .lines .fa {
		font-size: 16px; 
		color: #666;
	}
	.extras .lines:last-child .item {
		width: 200px;
		font-size: 15px;
	}
	.total-price {
		width: 100%; 
		margin: 10px 0 0;
		padding: 17px 25px 17px 15px;
		display: inline-block;
		font-family: 'OpenSansBold', Arial, sans-serif;
		line-height: 100%;
		color: #fff;
		background-color: #333;
	}
	.total-price .num {
		font-size: 25px;
	}
	.section h2 {
		margin-bottom: 15px; 
		font-size: 24px;
	}
	.section h2.med {
		font-size: 22px;
	}
	.content-expandible .expand-more-content {
		display: none;
		transition: .2s;
	}
	.content-expandible .controls {
		font-size: 15px; 
		cursor: pointer;
		text-align: center;
		color: #0089cf;
	}
	.content-expandible .exp-less {
		display: none;
	}
	.content-expandible.expanded .expand-more-content {
		display: block;
	}
	.content-expandible.expanded .exp-more {
		display: none;
	}
	.content-expandible.expanded .exp-less {
		display: block;
	}
	.section .list li {
		margin-bottom: 8px;
		display: block;
		font-size: 15px; 
		line-height: 20px;
	}
	.section .list li .fa {
		margin-right: 10px;
	}
	.data-item {
		margin: 7px 0;
		padding-bottom: 7px;
		font-size: 14px;
		font-size: 15px; 
		border-bottom: 1px solid #e6e6e6;
		border-bottom: 0;
    padding: 0px;
	}
	.data-item:before,
	.data-item:after {
		display: table; 
		content: '';
	}
	.data-item:after {
		clear: both;
	}
	.terms .group {
		margin: 7px 0;
		margin-bottom: 20px; 
		padding-bottom: 7px;
		padding-bottom: 20px;
		font-size: 14px;
		border-bottom: 1px solid #e6e6e6;
	}
	.terms .group:before,
	.terms .group:after {
		display: table; 
		content: '';
	}
	.terms .group:after {
		clear: both;
	}
	.terms .group .fa {
		font-size: 15px;
		vertical-align: top; 
		color: #333;
	}
	.terms .group .fa.fa-credit-card-alt {
		float: left;
	}
	.terms .group p {
		font-size: 15px; 
		text-align: center;
		color: #333;
	}
	.terms .bold {
		color: #333;
	}
	.terms strong {
		font-family: 'OpenSansSemibold', Arial, sans-serif;
	}
	.map-section .fa-map-marker {
		font-size: 21px; 
		color: #666;
	}
	.map-section p {
		font-size: 15px;
	}
	.map-section p.bold {
		font-family: 'OpenSansSemibold', Arial, sans-serif;
	}
	.reviews-container {
		width: 100%; 
		display: inline-block;
		clear: both;
	}
	.reviews-container .review-item {
		margin: 20px 0;
	}
	.reviews-container .review-item:before,
	.reviews-container .review-item:after {
		display: table; 
		content: '';
	}
	.reviews-container .review-item:after {
		clear: both;
	}
  .reviews-container .review-item .rev-avatar{
    height: 75px;
  }
	.reviews-container .review-item .rev-avatar a {
		display: inline-block;
	}
	.reviews-container .review-item .rev-avatar img,
	.reviews-container .review-item .rev-avatar .fa {
		width: 65px;
		height: 65px;
		margin: 0 10px 5px 20px; 
		float: left;
		overflow: hidden;
		border-radius: 50%;
		background-clip: padding-box;
	}
	.reviews-container .review-item .rev-avatar a.av-default .fa {
		font-size: 57px; 
		line-height: 90px;
		text-align: center;
		color: #999;
		border: 1px solid #e6e6e6;
	}
	.reviews-container .review-item .rev-avatar p {
		max-width: 100px;
		padding-top: 12px; 
		float: left;
		font-size: 18px;
		line-height: 100%;
		color: #0089cf;
	}
	.reviews-container .review-item .rev-content {
		position: relative;
		margin-left: 15px;
		padding: 15px 18px; 
		border: 1px solid #0089cf;
		border-radius: 8px;
		background-clip: padding-box;
	}
	.reviews-container .review-item .rev-content h3 {
		font-family: 'OpenSansBold', Arial, sans-serif;
	}
	.reviews-container .review-item .rev-content p {
		font-size: 14px;
	}
	.reviews-container .review-item .rev-content .btn-secondary {
		margin-top: 30px;
	}
	.reviews-container .review-item .rev-content .btn-secondary .fa {
		color: #333;
	}
	.reviews-container .review-item .rev-content::before,
	.reviews-container .review-item .rev-content::after {
		position: absolute;
		top: 35px;
		right: 100%;
		width: 0;
		height: 0;
		content: ' ';
		pointer-events: none; 
		border: solid transparent;
	}
	.reviews-container .review-item .rev-content::after {
		margin-top: -15px; 
		border-width: 15px;
		border-color: rgba(255, 255, 255, 0);
		border-right-color: #fff;
	}
	.reviews-container .review-item .rev-content::before {
		margin-top: -16px; 
		border-width: 16px;
		border-color: rgba(51, 51, 51, 0);
		border-right-color: #0089cf;
	}
	.reviews-container .review-item .rev-content .value p {
		margin: 0; 
		font-size: 13px;
		font-style: italic;
		color: #666;
	}
  .reviews-container .review-item .rev-content .comment-title {
		color: #000;
    font-weight: bold;
    margin-top: 20px;
	}
	.reviews-container .review-item .rev-form {
		display: inline-block;
		color: #666;
	}
	.reviews-container .review-item .rev-form input,
	.reviews-container .review-item .rev-form textarea {
		width: 100%;
		padding: 5px 10px;
	}
	.reviews-container .review-item .rev-form input[type='checkbox'] {
		width: auto;
	}
	.reviews-container .review-item .rev-form label {
		font-family: 'OpenSansSemibold', Arial, sans-serif; 
		font-size: 15px;
	}
	.reviews-container .review-item .rev-form p.tit {
		font-size: 15px;
		color: #333;
	}
	.reviews-container .review-item .rev-form p.sizesmall {
		width: calc(100% - 20px);
		font-size: 9.5px;
		line-height: 100%;
	}
	.reviews-container .review-item .rev-form .value {
		margin-top: 10px;
	}
	.reviews-container .review-item .rev-form .value .fa {
		margin-left: 8px;
		font-size: 15px;
		vertical-align: middle;
	}
	.reviews-container .review-item .rev-form .value .rating {
		margin: 0 0 0 5px;
	}
	.reviews-container .review-item .rev-form .value .rating li {
		cursor: pointer;
	}
	.reviews-container .review-item .rev-form .value .rating .fa {
		margin-left: 2px; 
		font-size: 18px;
	}
	.reviews-container .review-item .rev-form .btn {
		width: 48%;
		margin-top: 0; 
		padding: 10px;
		font-size: 11px;
		border-radius: 3px;
		background-clip: padding-box;
    color: #fff;
	}
  
  .reviews-container .indented .rev-form {
		position: relative;
    margin-left: 15px;
    padding: 15px 18px;
    border: 1px solid #0089cf;
    border-radius: 8px;
    background-clip: padding-box;
    min-height: 76px;
	}
  .reviews-container .indented .rev-form .rev-avatar {
    float: left;
    width: 30%;
  }
  .reviews-container .indented .rev-form .rev-avatar img {
    width: 45px;
    height: 45px;
    margin: 0 10px 5px 0px;
    overflow: hidden;
    border-radius: 50%;
    background-clip: padding-box;
  }
  .reviews-container .indented .rev-form .rev-avatar p {
    max-width: 100px;
    float: none;
    font-size: 14px;
    line-height: 100%;
    color: #0089cf;
  }
  .reviews-container .indented .rev-form .rev-coment .comment-title {
    font-size: 14px;
    font-weight: bold;
    color: #000;
    line-height: 1.3em;
  }
  .reviews-container .indented .rev-form .rev-coment .form-submit {
    padding: 12px 17px;
    display: inline-block;
    font-family: 'OpenSansBold', Arial, sans-serif;
    font-size: 12px;
    color: #333;
    border: 1px solid #e6e6e6;
    background-color: #eef2f3;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    background-clip: padding-box;
    margin-left: 30%;
  }
  
	.ficha-buttons {
		margin-bottom: 20px;
	}
	.ficha-buttons .btn {
		width: 97%;
		padding: 12px 5px; 
		font-size: 14px;
    margin-top: 15px;
	}
  .ficha-buttons .btn.contacto {
    margin-top: 0px;
    margin-bottom: 15px;
  }
  
  .lista-mapa {height: 300px;}


.calendar {
	width: 100%;
	margin-bottom: 20px; 
	font-family: 'OpenSansRegular', Arial, sans-serif;
}
.calendar .cal-top {
	position: relative;
	height: 90px;
	padding: 9px 12px; 
	text-align: center;
	background: #ececee;
}
.calendar .cal-top .cal-month-name {
	display: inline-block;
	text-align: center;
}
.calendar .cal-top .cal-month-name h3 {
	font-family: 'OpenSansLight', Arial, sans-serif; 
	font-size: 25px;
	line-height: 30px;
}
.calendar .cal-top .fa {
	font-size: 35px;
	line-height: 30px; 
	color: #999;
	border-radius: 50%;
	background: #fff;
}
.calendar .cal-top .cal-week {
	position: absolute;
	right: 0; 
	bottom: 9px;
	left: 0;
}
.calendar .cal-top .cal-week .day-name {
	width: calc(100% /7);
	float: left;
	font-size: 15px;
}
.calendar .cal-month .cal-day {
	position: relative;
	width: calc(100% /7);
	height: 43px;
	float: left;
	border-collapse: collapse; 
	text-align: center;
	border-bottom: 1px solid #e6e6e6;
	border-left: 1px solid #e6e6e6;
	background: #f7f7f7;
}
.calendar .cal-month .cal-day:nth-child(7n) {
	border-right: 1px solid #e6e6e6;
}
.calendar .cal-month .cal-day a {
	width: 100%;
	height: 100%;
	display: inline-block;
	text-align: left;
}
.calendar .cal-month .cal-day span {
	display: block;
}
.calendar .cal-month .cal-day .cal-num {
	position: relative;
	top: 25%;
	font-size: 14px;
	color: #666;
}
.calendar .cal-month .cal-day.day-book {
	background: rgba(255, 108, 123, .6);
}
.calendar .cal-month .cal-day.day-si {
	background: rgba(90, 195, 147, .6);
}
.cal-ref .cal-label {
	margin-bottom: 6px; 
	padding: 4px 7px;
	font-family: 'OpenSansBold', Arial, sans-serif;
	font-size: 13px;
	text-align: center;
	letter-spacing: .03em;
	color: #fff;
	border-radius: 3px;
	background-clip: padding-box;
}
.cal-ref .cal-si {
	font-size: 12px; 
	background: #5ac393;
}
.cal-ref .cal-book {
	font-size: 12px; 
	background: #ff6c7b;
}
.cal-ref {
	width: 100%;
	margin-top: 20px;
	display: inline-block;
	text-align: center;
}

p.sizesmall {
	margin-bottom: 10px; 
	color: #666;
}
p.sizesmall .fa {
	font-size: 13px; 
	color: #666;
}

/* home clasificados */

	.clf-mob-home {
		position: relative;
		width: 100%;
    height: 443px;
    text-align: center;
  }
  .clf-mob-home.autos {
    background: url('../img/homeClasificadosAuto-bgimg.jpg') no-repeat center;
  }
  .clf-mob-home.inmuebles {
    background: url('../img/homeClasificadosInmo-bgimg.jpg') no-repeat center;
  }
  .clf-mob-home.alojamientos {
    background: url('../img/homeClasificados-bgimg.jpg') no-repeat center;
  }
	.clf-mob-content {
		text-align: center;
		padding-top: 50px;
	}
	.clf-mob-content h2 {
		margin-bottom: 15px; 
		font-family: 'OpenSansBold', Arial, sans-serif;
		color: #fff;
	}
  .alojamientos .clf-mob-content {
    height: 70px;
  }
	.clf-mob-searchbox-wrapper {
		height: 240px;
	}
	.clf-mob-searchbox {
		padding: 13px 19px;
		display: inline-block;
		border-radius: 6px;
		background-clip: padding-box;
    margin-left: 7%;
    margin-right: 7%;
	}
  .clf-mob-searchbox.home {
		background: rgba(0, 0, 0, .5);
    position: relative;
	}
  .clf-mob-searchbox.home.inmuebles {
		margin-left: 11%;
	}
  .clf-mob-searchbox.home.inmobiliarias {
		margin-top: 44px;
    width: 70%;
    max-width: 243px;
	}
	.alojamientos .clf-mob-searchbox.home {
	  margin-top: 26px;
	}
  .clf-mob-searchbox.home.concesionarias {
		margin-top: 14px;
    width: 70%;
    max-width: 307px;
	}
  .clf-mob-searchbox select {
		margin: 5px 0;
	}
	.clf-mob-searchbox .btn-primary {
		margin-top: 8px;
	}
	.clf-mob-searchbox .select-group .fa {
		top: 14px;
	}
  .clf-mob-searchbox .select-group .fa.fa-map-marker {
    z-index: 1;
    top: 10px;
    left: 10px;
  }
  .calendar-box .fa-calendar {
    position: absolute;
    top: 2px;
    z-index: 9;
    left: 8px;
  }
	.clf-mob-searchbox input,
	.clf-mob-searchbox textarea,
	.clf-mob-searchbox select {
		padding-top: 7px; 
		font-family: 'OpenSansLight', Arial, sans-serif;
		font-size: 18px;
	}
	.clf-mob-img {
		width: 100%;
		height: 443px;
		background: url('../img/homeClasificados-bgimg.jpg') no-repeat center;
		background-size: cover;
		margin-bottom: -300px;
	}
  .clf-mob-img.inmuebles {
    background: url('../img/homeClasificadosInmo-bgimg.jpg') no-repeat center;
  }
  .clf-mob-img.autos {
    /*background: url('../img/homeClasificadosAuto-bgimg.jpg') no-repeat center;*/
  }

footer.bottom {margin-top: 0px;}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: #aaa;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
} 
::-webkit-scrollbar-button {
  background-color: #999;
}
::-webkit-scrollbar-corner {
  background-color: #999;
}
.filter-category.multiple.barrios .content-multiple {
  height: 203px;
  overflow: hidden;
  overflow-y: scroll; 
  padding: 10px;
  margin-left: -10px;
  width: 95%;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}

#formFiltrosAlojamientos input[type='checkbox'],
#formFiltrosAlojamientos input[type='radio'],
.filter-category.multiple input[type='checkbox'] {
  float: left;
}
.filter-category.multiple label {
  color: #666;
  font-family: 'OpenSansRegular', Arial, sans-serif;
}

/* CALENDARIO */
.main-wrapper .DOPBCPCalendar-sidebar .dopbcp-module {border: none !important;}

.main-wrapper .DOPBCPCalendar-sidebar .dopbcp-module .dopbcp-input-wrapper {width: 100%;}
.main-wrapper .DOPBCPCalendar-sidebar .dopbcp-module .dopbcp-input-wrapper.DOPBCPCalendar-left{
  margin: 0px;
  width: 50%;
}
.main-wrapper .DOPBCPCalendar-sidebar #DOPBCPCalendar-extras0.dopbcp-module .dopbcp-input-wrapper {width: 100%;}
.main-wrapper #calendario-frontend .DOPBCPCalendar-sidebar .dopbcp-module .dopbcp-input-wrapper input[type=text].DOPBCPCalendar-check-in-view,
.main-wrapper #calendario-frontend .DOPBCPCalendar-sidebar .dopbcp-module .dopbcp-input-wrapper input[type=text].DOPBCPCalendar-check-out-view {
  margin: 9px 4px;
  padding: 10px 15px;
  font-size: 15px;
  color: #0089cf;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  background-clip: padding-box;
  width: 56%;
  padding-left: 35px;
  background-position: -4px -199px;
}
.main-wrapper .DOPBCPCalendar-sidebar.dopbcp-style-small .dopbcp-module {
  margin: 0px;
}
.DOPBCPCalendar-datepicker.ui-datepicker .ui-datepicker-header .ui-datepicker-next, 
.DOPBCPCalendar-datepicker.ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
  background-size: inherit;
}
.DOPBCPCalendar-datepicker.ui-datepicker .ui-datepicker-header .ui-datepicker-prev {background-position: -82px -82px !important;}
.DOPBCPCalendar-datepicker.ui-datepicker .ui-datepicker-header .ui-datepicker-next {background-position: -120px -82px !important;}
.main-wrapper .DOPBCPCalendar-sidebar .dopbcp-module h4 {display: none !important;}
.main-wrapper .DOPSelect.dopselect-multiple ul {
  border: none;
  max-height: inherit;
  overflow-y: inherit;
}
.main-wrapper .DOPBCPCalendar-sidebar .dopbcp-module .dopbcp-input-wrapper ul li {
  width: 100%;
  padding-bottom: 7px;
}
.main-wrapper .DOPBCPCalendar-sidebar .dopbcp-module .dopbcp-input-wrapper input[type=checkbox] {
  width: 19px;
  height: 19px;
  margin: 0;
}
.main-wrapper .DOPBCPCalendar-sidebar .dopbcp-module .dopbcp-input-wrapper ul li label {
  margin: 0 8px 0 30px;
  font-family: 'OpenSansRegular', Arial, sans-serif;
  font-size: 14px;
  color: #545454;
}
.main-wrapper .DOPBCPCalendar-sidebar .dopbcp-module .dopbcp-input-wrapper input[type=checkbox]:checked:before, 
.main-wrapper .DOPBCPCalendar-sidebar .dopbcp-module .dopbcp-input-wrapper input[type=checkbox]:checked:after, 
.main-wrapper .DOPBCPCalendar-sidebar .dopbcp-module .dopbcp-input-wrapper input[type=radio]:checked:before, 
.main-wrapper .DOPBCPCalendar-sidebar .dopbcp-module .dopbcp-input-wrapper input[type=radio]:checked:after {
  background: #464646 !important;
  border: 1px solid #464646 !important;
  color: #464646 !important;
}
.main-wrapper .DOPBCPCalendar-sidebar .dopbcp-module .dopbcp-input-wrapper input[type=checkbox]:hover, 
.main-wrapper .DOPBCPCalendar-sidebar .dopbcp-module .dopbcp-input-wrapper input[type=radio]:hover {
  border: 1px solid #464646;
  color: #464646;
}
.main-wrapper #DOPBCPCalendar-sidebar-column-wrapper-2-0 {
  display: none;
  float: left;
  position: fixed;
  top: 1%;
  left: 1%;
  border: 1px solid #CCCCCC !important;
  padding: 2% !important;
  box-shadow: 3px 3px 5px 6px #ccc;
  width: 94%;
  height: 94%;
  background-color: #FFF;
  z-index: 9;
}
.main-wrapper .DOPBCPCalendar-sidebar .dopbcp-module .dopbcp-cart-wrapper .dopbcp-cart tr.dopbcp-separator td .dopbcp-line {
  border-bottom: none;
  padding: 0px;
}
.main-wrapper .DOPBCPCalendar-sidebar .dopbcp-module .dopbcp-input-wrapper .dopbcp-warning-info .dopbcp-icon {
  background-position: -5px -5px;
  background-size: 350px 350px;
}

.main-wrapper .DOPBCPCalendar-sidebar .dopbcp-module .dopbcp-input-wrapper label, 
.main-wrapper .DOPBCPCalendar-sidebar .dopbcp-module .dopbcp-input-wrapper label a {
  font-size: 13px;
  font-family: 'OpenSans', Arial, sans-serif;
  font-style: inherit;
  line-height: 15px;
}
.main-wrapper .DOPBCPCalendar-sidebar .dopbcp-module .dopbcp-input-wrapper label a {color: #008ACF;}
.main-wrapper .DOPBCPCalendar-sidebar .dopbcp-module .dopbcp-input-wrapper input[type=text] {
  -webkit-appearance: none;
  border: 1px solid #c9c9c9;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  color: #666666;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  outline: none;
  width: 90%;
  padding: 6px 6px;
  font-size: 12px;
  margin: 0px;
  color: #666;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  background-clip: padding-box;
}
.main-wrapper .DOPBCPCalendar-sidebar .dopbcp-module .dopbcp-input-wrapper input[type=submit], 
.main-wrapper .DOPBCPCalendar-sidebar .dopbcp-module .dopbcp-input-wrapper input[type=button] {
  -webkit-appearance: none;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #ffffff;
  cursor: pointer;
  display: none;
  font-size: 17px;
  font-weight: 300;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  text-align: center;
  width: 100%;
  -webkit-transition: background 300ms linear;
  -moz-transition: background 300ms linear;
  -o-transition: background 300ms linear;
  transition: background 300ms linear;
  background-color: #0089cf;
  width: 100%;
  margin: auto;
  padding: 0px 20px;
  display: inherit;
  border-radius: 3px;
  background-clip: padding-box;
}
#btn-cerrar-reserva,
#btn-cerrar-confirmacion,
#btn-cerrar-contacto,
#btn-cerrar-login {
  position: absolute;
  top: 2px;
  right: 3px;
  font-size: 0.01em;
  background-image: url('../img/cerrar.png');
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  background-size: 15px 15px;
}
#modal_confirmacion,
#modal_contacto,
#modal_login {
  display: none;
  float: left;
  position: fixed;
  top: 1%;
  left: 1%;
  border: 1px solid #CCCCCC !important;
  padding: 2% !important;
  box-shadow: 3px 3px 5px 6px #ccc;
  width: 94%;
  height: 94%;
  background-color: #FFF;
  z-index: 9;
}
#modal_confirmacion .modal-title {
  padding: 30px;
  font-family: 'OpenSansLight', Arial, sans-serif;
  text-align: center;
  background: #0089cf;
  margin-top: 15px;
}
#modal_confirmacion .modal-title h2 {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  line-height: 100%;
}
#modal_confirmacion .modal-content {
  padding: 30px 10px;
  text-align: center;
}
#modal_confirmacion .modal-content p.aclaro {
  font-size: 15px;
  line-height: 140%;
  font-family: 'OpenSansRegular', Arial, sans-serif;
  color: #999;
  margin: 20px 0;
  margin-top: 0;
}
#modal_confirmacion .modal-content h3 {
  margin: 30px 0;
  padding: 20px 0;
  font-size: 20px;
  line-height: 23px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}    
#modal_confirmacion .modal-content p {margin: 20px 0;}

.rev-content div.fivestar-widget {padding-top: 20px;}
.rev-content div.fivestar-widget .star {
  width: 22px;
  height: 20px;
}
.rev-content div.fivestar-widget div.hover a, 
.rev-content div.rating div a:hover,
.rev-content div.fivestar-widget div.on a {background-position: 0 -22px;}

.hidden {display: none;}
.filter-mob .content-selects {
  border-radius: 6px;
  background-clip: padding-box;
  margin-left: 2%;
  margin-right: 2%;
}

.select-group.filtro-aplicado .fa, .select-group.filtro-aplicado .far, .select-group.filtro-aplicado .fas {
  color: #FFF;
}
.select-group.filtro-aplicado .form-select {
  color: #FFF;
  background-color: #008ACF;
  background-image: url('../img/arrow-select-white.png');
}
.select-group.filtro-aplicado .form-select option {
  background-color: #FFF;
  color: #666;
}
.barraInfo .filtro.rubroPadre{
  float: left;
  border: none;
  font-size: 18px;
}
.filter-category input[type='text'] {width: 47%; margin: 0px;}
.filter-category input.left {float: left;}
.filter-category input.right {float: right;}

.map-section .content-map {display: flex; justify-content: center; align-items: center;}

/* fonts */
@font-face {
	font-family: 'OpenSansRegular';

	src: url('../../fonts/OpenSansRegular.eot');
	src: url('../../fonts/OpenSansRegular.eot') format('embedded-opentype'), url('../../fonts/OpenSansRegular.woff') format('woff'), url('../../fonts/OpenSansRegular.ttf') format('truetype'), url('../../fonts/OpenSansRegular.svg#OpenSansRegular') format('svg');
}

@font-face {
	font-family: 'OpenSansLight';

	src: url('../../fonts/OpenSansLight.eot');
	src: url('../../fonts/OpenSansLight.eot') format('embedded-opentype'), url('../../fonts/OpenSansLight.woff') format('woff'), url('../../fonts/OpenSansLight.ttf') format('truetype'), url('../../fonts/OpenSansLight.svg#OpenSansLight') format('svg');
}

@font-face {
	font-family: 'OpenSansSemibold';

	src: url('../../fonts/OpenSansSemibold.eot');
	src: url('../../fonts/OpenSansSemibold.eot') format('embedded-opentype'), url('../../fonts/OpenSansSemibold.woff') format('woff'), url('../../fonts/OpenSansSemibold.ttf') format('truetype'), url('../../fonts/OpenSansSemibold.svg#OpenSansSemibold') format('svg');
}

@font-face {
	font-family: 'OpenSansBold';

	src: url('../../fonts/OpenSansBold.eot');
	src: url('../../fonts/OpenSansBold.eot') format('embedded-opentype'), url('../../fonts/OpenSansBold.woff') format('woff'), url('../../fonts/OpenSansBold.ttf') format('truetype'), url('../../fonts/OpenSansBold.svg#OpenSansBold') format('svg');
}
