/*AVISO COMPRA*/
.line.price {background-color: #EAEAEA; padding-left: 10px; padding-right: 10px; padding-top: 20px; padding-bottom: 10px; width: 100%; display: inline-block;}
.line.price .cuotas{color: #E10019; font-size: 18px; margin-bottom: 20px; display: block;}
.aviso .cajaTitulo .precio span.PrecioAnterior{text-decoration: line-through; font-size: 12px; padding-top: 4px; color: #FFF;}
.aviso .cajaTitulo .precio span.descuento{color: #FFF; width: 100%; display: block; font-weight: 100; font-size: 14px;}
.aviso .cajaTitulo .precio span.descuento strong{font-weight: bold;}
.line.price .MercadoPago, .line.price .DineroMail {/*border-top: 1px solid #CCC;*/ width: 93%; padding-top: 5px;}
.line.price .MercadoPago {height: 72px;}
.line.price .MercadoPago .Logo1 {background: url("../img/img-formas-pago.png") no-repeat 0 0; height: 30px;}
.line.price .MercadoPago .Logo2 {background: url("../img/img-formas-pago.png") no-repeat -17px -32px; height: 29px;}
.line.price .MercadoPago .Logo3 {background: url("../img/img-formas-pago.png") no-repeat -21px -70px; height: 31px;}
.line.price .MercadoPago .Logo4 {background: url("../img/img-formas-pago.png") no-repeat -21px -107px; height: 31px;}
.line.price .DineroMail .Logo1 {background: url("../img/img-formas-pago.png") no-repeat -1px -146px; height: 30px;}
.line.price .DineroMail .Logo2 {background: url("../img/img-formas-pago.png") no-repeat -20px -186px; height: 29px;}
.line.price .DineroMail .Logo3 {background: url("../img/img-formas-pago.png") no-repeat -1px -223px; height: 31px;}
.line.price .Link {margin-top: 17px; display: inline-block;}
.line.price .Link a {color: #008ACF; font-size: 13px; line-height: 2px;}
.comprar {float: left; display: block; width: 94%; margin-top: 20px; margin-bottom: 20px;}
.comprar a{background-color: #333333; font-size: 18px; font-weight: 600; border-radius: 4px; color: #FFFFFF; padding: 8px; width: 91%; text-align: center; display: block;}
.line.price .compraAccion {width: 91%; margin-top: 5px; float: left;}
.line.price .compraAccion p, .line.price .compraAccion a {font-size: 12px; color: #666666;}
.line.price .compraAccion a {color: #008ACF; line-height: 40px;}
.line.price .PagoDomicilio span {background: url("../img/ico-pago-domicilio.png") no-repeat 0% 50%; background-size: 32px 30px; width: 32px; height: 40px; float: left; border-right: 1px solid #CCC; padding-right: 10px; margin-right: 10px;}
.line.price .Envio span {background: url("../img/ico-envios.png") no-repeat 0% 50%; background-size: 32px 15px; width: 32px; height: 40px; float: left; border-right: 1px solid #CCC; padding-right: 10px; margin-right: 10px;}
.line.price .Disponibilidad span {background: url("../img/ico-productos.png") no-repeat 0% 50%; background-size: 25px 23px; width: 32px; height: 40px; float: left; border-right: 1px solid #CCC; padding-right: 10px; margin-right: 10px;}
.line.price .Disponibilidad span.Cantidad {background:none; background: none; color: #DF0019; float: inherit; border: none;}
.line.price .Disponibilidad p {line-height: 40px;}
.line.price .Seguridad span {background: url("../img/ico-seguridad.png") no-repeat 0% 50%; background-size: 25px 26px; width: 32px; height: 40px; float: left; border-right: 1px solid #CCC; margin-right: 10px; padding-left: 10px;}
.line.price .compraAccion.VerMas {text-align: center;}
/*AVISO COMPRA MODALES*/
.white-popup {position: relative; background: #FFF; padding: 20px; width: auto; max-width: 700px; margin: 20px auto;}
.col-lg-4 {position: relative; min-height: 1px; padding-left: 25px; padding-right: 25px;}
.col-lg-8 {position: relative; min-height: 1px; padding-left: 25px;}
.sr-only {position: absolute; clip: rect(0, 0, 0, 0);}
#modal-compra-datos .row {margin-left: -15px; margin-right: -15px;}
#modal-compra-datos .currentBuy .producto, .confirmacion .currentBuy .producto{background: #F7F7F7}
#modal-compra-datos .currentBuy h3, .confirmacion .currentBuy h3 {font-size: 17px; font-weight: 400; color: #333; text-align: left; margin-bottom: 10px;}
#modal-compra-datos .currentBuy .producto .descripcion h2, .confirmacion .currentBuy .producto .descripcion h2 {font-size: 28px; font-weight: normal; margin: 10px 0 20px;}
#modal-compra-datos .currentBuy .producto .descripcion .Precio{font-size: 22px; color: #E10019; font-weight: bold; float: left;}
#modal-compra-datos .currentBuy .producto .descripcion .PrecioAnterior{text-decoration: line-through; font-size: 16px;
margin-left: 10px;}
#modal-compra-datos .avance, .confirmacion .avance{margin: 10px 0; border-bottom: 1px solid #e5e5e5;}
#modal-compra-datos .avance .item{display: none;}
#modal-compra-datos .avance .item.activo {display: block; width: 100%; font-size: 14px; margin-top: 10px; margin-bottom: 10px;}
#modal-compra-datos .avance .item .numero, .confirmacion .avance .item .numero{display: inline-block; min-width: 26px; padding: 5px; -webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 30px; text-align: center; color: #fff; background: #3DA6DA; margin-bottom: 10px;}
#modal-compra-datos .consigna, .confirmacion .consigna {font-size: 15px; margin-bottom: 10px;}
#modal-compra-datos form .form-control, .confirmacion form .form-control{border: 1px solid #cccccc; color: #000000; font-size: 14px; height: 40px; margin-top: 5px; padding-left: 5px; padding-right: 5px; width: 100%; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin-left: -5px;}
#modal-compra-datos form textarea.form-control, .confirmacion form textarea.form-control{height: inherit;}
#modal-compra-datos form .btn-primary, .confirmacion form .btn-primary, #modal-compra-datos form .form-submit, .confirmacion form .form-submit{text-decoration: none; font-weight: 100; font-size: 14px; color: #fff; background-color: #008ACF; padding: 5px 20px; border: 0 none; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; padding: 10px 20px; margin-top: 5px; width: 100%; cursor: pointer; font-weight: bold;}
#modal-compra-datos .loader, #modal-forma-envio .loader-envio{background-color: #008ACF; border: 0px none; border-radius: 5px; padding: 10px 20px; margin-top: 5px; height: 16px; padding-left: 45%;}
#modal-compra-datos .loader img, #modal-forma-envio .loader-envio img{height: 15px;}
#modal-compra-datos .seleccion_lugar, .confirmacion .seleccion_lugar {display: block; background-color: #F2F2F2; padding: 5px; border-radius: 5px; border: 1px solid #E5E5E5; margin-bottom: 5px;}
#modal-compra-datos form .radio label, .confirmacion form .radio label {font-size: 14px; font-weight: 600; color: #008ACF; display: block;}
#modal-compra-datos form .controls label, .confirmacion form .controls label {font-weight: bold; font-size: 14px; color: #666;}
#modal-compra-datos form .controls select, .confirmacion form .controls select {background-color: #FFF; border: 1px solid #CCC; height: 34px; margin-top: 5px; margin-right: 4px; padding: 5px 5px 5px 4px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; width: 100%; margin-bottom: 5px; background: url('../img/br_down.png') no-repeat 98% center;}
#modal-compra-datos .alerta, .confirmacion .alerta, #modal-compra-datos .help-block.with-errors, .confirmacion .help-block.with-errors, #modal-compra-datos .help-block.with-errors-envio, .confirmacion .help-block.with-errors-envio{background: #ffc url(../img/ico_alerta.png) no-repeat 20px center; border: 1px solid #E2DEC0; padding: 5px; padding-left: 75px; font-size: 14px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; margin-bottom: 10px; margin-bottom: 5px; margin-top: 10px; line-height: 1.3;}
#modal-compra-datos .error, .confirmacion .error {background: #fcc url(../img/ico_error.png) no-repeat 20px center; border: 1px solid #E8BABA; padding: 5px; padding-left: 75px; font-size: 14px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; margin-bottom: 10px; margin-bottom: 5px; margin-top: 10px; line-height: 1.3;}
#modal-compra-datos .mensajeOk, .confirmacion .mensajeOk {background: #F2FDED url(../img/ico_ok.png) no-repeat 20px center; border: 1px solid #E8EFE6; padding: 5px; padding-left: 75px; font-size: 14px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; margin-bottom: 10px; margin-bottom: 5px; margin-top: 10px; line-height: 1.3;}
.total .itemT {margin-bottom: 5px;}
.total .priceT {color: #E10019; margin-bottom: 5px;}
#content-pasos-compra .alerta {background: none; font-size: 14px; margin-bottom: 15px; line-height: 1.3; padding: 5px;}
/* COMPRA ESTADOS */
.store {padding: 20px 10px 10px; width: 91%; display: inline-block; color: #333;}
.store .Precio {color: #E10019; font-weight: bold; font-size: 18px;}
/* COMPRA SEGURA */
#modal-saber-mas h2 {font-size: 22px; line-height: 34px; margin: 10px 0px 10px; color: #008ACF; text-transform: uppercase;}
#modal-saber-mas p {margin: 0px 0px 20px; font-size: 13px; line-height: 22px; color: #666;}
#modal-saber-mas p strong {font-weight: bold;}
/* COMPRA FORMA ENVIO */
#modal-forma-envio h2 {font-size: 22px; line-height: 34px; margin: 10px 0px 20px; color: #008ACF; text-transform: uppercase;}
#modal-forma-envio h2 {font-size: 16px; font-weight: 700; color: #333;}
#modal-forma-envio p {font-size: 15px; font-weight: 400; color: #666;}
#modal-forma-envio input {width: 94%; height: 36px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border: 1px solid #E5E5E5; font-size: 13px; padding-left: 10px;}
#modal-forma-envio input.form-submit {width: 100%; font-size: 14px; color: #FFF; cursor: pointer; font-family: "openSans", Arial, Helvetica, sans-serif; font-weight: bold; text-align: center; border-radius: 2px; background-color: #008ACF; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin: 5px 0px;}
#modal-forma-envio .help-block {font-size: 16px; color: #E10019;}
#modal-forma-envio h3 {border-top: 1px solid rgb(229, 229, 229); padding-top: 10px; margin-top: 10px;}
#modal-forma-envio .Direcciones a {font-size: 14px; font-weight: 400; color: #008ACE; display: block; margin-bottom: 5px; border-bottom: 1px solid #E5E5E5; padding-bottom: 5px; width: 100%;}